<div class="responsive-table">
<h3>Emergency</h3>
<br>
<%  @appointments.each do |appointment| %>
  <p><%= link_to appointment.appointment_date.strftime("%d %b %Y"), appointment_path(appointment) %> | <%= appointment.note %></p>
<% end %>
<br>
<p><%= link_to 'View Doctors', doctors_path, :class=>'fade-btn' %></p>
<p><%= link_to 'Create a new Appointment', new_appointment_path, :class=>'fade-btn' %></p>
</div>
