<h2>Your List of Appointments:</h2>

<p><%= link_to 'View Doctors', doctors_path %></p>

<p><%= link_to 'Create a new Appointment', new_appointment_path %></p>


<ul>
  <% @appointments.each do |appointment| %>
  <li> <%= link_to appointment, appointment_path(appointment) %>
  </li>
  <% end %>
</ul>
