/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body{
  background-color: #161D2B;
  color:#F9F2DC;
  font-family: 'Rubik', sans-serif;
}

p{
  font-size: 16px;
}

.logout{
  text-align: right;
}

.responsive-table{
  width: 100%;
  text-align: center;
}

.fade-btn {
  background-color: #F9F2DC;
  border: none;
  border-radius: 5px;
  color: #161D2B;
  padding: 8px 18px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  text-decoration: none;
}

.fade-btn:hover {opacity: 0.6}
